.pageWrapper {
  height: 100%;
  background: var(--color-background  );
}

.statementSwitchContainer {
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  align-self: center;
}

:global(.-guideShown) .statementSwitchContainer {
  animation: 0.2s fadeIn forwards ease-out 1.4s;
  opacity: 0;
  transform: translateY(1rem);
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.form__subContainer {
  position: relative;
  background: var(--color-background);
  z-index: 4;
  align-self: center;
  width: 100%;
  max-width: var(--max-content-width);
  padding-bottom: 0.5rem;
}

/* Prevent submit button and form confliction when virtual keyboard is open on mobile */

.form__subContainer::after {
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 4rem;
  background: var(--color-background);
}

.form__submit {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
  font-size: var(--font-size-large);
  border-radius: 15rem;
  border: 2.5px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: bold;
  padding: 1.5rem 3rem;
  width: 60%;
  max-width: 300px;
  transition: 0.2s color ease-out;
  background-color: var(--color-background);
  overflow: hidden;
}

:global(body.-ltr) :global(.-guideShown) .form__submit {
  animation-delay: 3.4s;
}

:global(body.-rtl) :global(.-guideShown) .form__submit {
  animation-delay: 2.5s;
}

:global(.-guideShown) .form__submit {
  transform: translate(-50%, calc(6rem + 100%));
  animation: 0.4s goIn forwards ease-out;
}

@keyframes goIn {
  to {
    transform: translate(-50%, 0);
  }
}

.form__submitAnimator {
  position: absolute;
  width: 5rem;
  height: 5rem;
  left: 50%;
  top: 1rem;
  transition: 0.3s ease-out;
  background-color: var(--color-primary);
  z-index: 0;
  transform: translate(-50%, 120%);
  border-radius: 50%;
}

.form__submitText {
  position: relative;
  z-index: 1;
}

.form__submit:active {
  color: #fff;
}

.form__submit:active .form__submitAnimator {
  transform: translate(-50%, 120%) scale(8);
}

@media (pointer: fine) {
  .form__submit:hover .form__submitAnimator {
    transform: translate(-50%, 120%) scale(8);
  }
  .form__submit:hover {
    color: #fff;
  }
}
